# NPM / yarn
/node_modules
yarn-error.log
npm-debug.log

# Git
auth.json

# Composer
/vendor

# Jetbrains
.idea/

# Laravel
/public/hot
/public/storage
/storage/*.key
.env
.env.backup
.phpunit.result.cache



